<div class="main-content">

  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>

    <button mat-button [routerLink]="['/']">Home</button>
    <button mat-button [routerLink]="['/news']">News</button>

    <span class="example-spacer"></span>

    <button
    mat-icon-button class="example-icon favorite-icon"
    [matMenuTriggerFor]="settingsMenu"
    aria-label="Example icon-button with heart icon">
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #settingsMenu="matMenu">
  <button mat-menu-item>Settings</button>
  <button mat-menu-item>Help</button>
</mat-menu>

<div class="main-container">
  <mat-card class="example-card">
    <router-outlet></router-outlet>
  </mat-card>
</div>

</div>
